CLOCKIFY_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
GEMINI_API_KEY=your_api_key
NVIDIA_API_KEY=your_api_key
MONGODB_URI=your_mongodb_uri
JWT_SECRET_KEY=your_jwt_secret_key #random string 32-64 chars